	<!-- SIDEBAR -->
	{{>sidebar}}
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		{{>navbar}}
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
	
			{{>box-info}}
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Red social</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					
                {{> red-social}}
				</div>
			
			</div>
		</main>
		<!-- MAIN -->