<h1>soy una red social</h1>
<script>

const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li');
allSideMenu.forEach(item=> {
    item.classList.remove('active');
})

    document.getElementById('red_social').classList.add('active');
</script>